<header class="site-header">
  <a href="#" class="logo">Logo</a>

  <nav class="site-nav">
    <ul>
      <li class="active"><a href="#0">Home</a></li>
      <li><a href="#0">About</a></li>
      <li><a href="#0">Clients</a></li>
      <li><a href="#0">Contact us</a></li>
    </ul>
  </nav>

  <div class="actions">
    <div class="dropdown">
      Settings [ User @ Company ]
      <ul>
        <li><a href="#0">Sub Item 1</a></li>
        <li><a href="#0">Sub Item 2</a></li>
        <li><a href="#0">Sub Item 3</a></li>
      </ul>
    </div>

    <a href="#0" class="sign-out-link">Sign Out</a>
  </div>
</header>
