/* Main Layout Style */
html {
  height: 100%; /* Setting all the vertical elements to 100%   */
}               /* fills all available space with the template */

body {
  height: 100%;
  overflow: hidden; /* Locks out the scroll bar from the body container scroll */
  margin: 0px;      /* bars will be added to individual content containers     */
  display: flex;
  box-sizing: border-box;
}

ul {
  display: inline-flex; /* responsive list content */
  list-style: none;
}

#leftCol {
  flex-shrink: 0; /* forces left nav to show */
}

.column {
  height: 100%; /* see above note */
  display: flex;
  flex-direction: column;
}

.top-left {
  flex-shrink: 0; /* alike to #leftCol */
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
}

.bottom {
  flex-grow: 1;
  overflow-y: auto; /* adds a scroll bar if needed */
}
